.gform_wrapper {
	input {
		&:not([type=radio]) {
			&:not([type=checkbox]) {
				&:not([type=submit]) {
					&:not([type=button]) {
						&:not([type=image]) {
							&:not([type=file]) {
								border: 0;
								border: 1px solid #ddd;
							}
						}
					}
				}
			}
		}
	}
	.field_sublabel_below {
		.ginput_complex.ginput_container {
			label {
				color: #222;
			}
		}
	}
	.top_label {
		.gfield_label {
			color: #222;
		}
	}
	.gform_footer {
		input.button {
			border: 0;
			background: #222;
			color: #fff;
			display: inline-block;
			padding: 0 30px;
			height: 45px;
			line-height: 45px;
			font-size: 15px;
		}
		input[type=submit] {
			border: 0;
			background: #222;
			color: #fff;
			display: inline-block;
			padding: 0 30px;
			height: 45px;
			line-height: 45px;
			font-size: 15px;
		}
	}
}
.wbfj-calendar-event {
	.gform_wrapper {
		ul.gform_fields {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			li {
				input {
					width: 100%;
				}
			}
		}
		input {
			&:not([type=radio]) {
				&:not([type=checkbox]) {
					&:not([type=submit]) {
						&:not([type=button]) {
							&:not([type=image]) {
								&:not([type=file]) {
									width: 100%;
									height: 50px;
									border-color: #ddd;
									padding: 0 20px;
									color: #222;
								}
							}
						}
					}
				}
			}
		}
		select {
			width: 100%;
			height: 50px;
			border-color: #ddd;
			padding: 0 20px;
			color: #222;
		}
		.top_label {
			div.ginput_container {
				position: relative;
			}
		}
		img.ui-datepicker-trigger {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
		}
		textarea.medium {
			border-color: #ddd;
		}
		.gfield_checkbox {
			li {
				label {
					color: #222;
					font-weight: 600;
					margin-top: 5px;
					margin-left: 3px;
				}
			}
		}
	}
	.gform_wrapper.gf_browser_chrome {
		.gfield_time_ampm {
			select {
				padding: 0 6px;
				-webkit-appearance: none;
				-moz-appearance: none;
			}
		}
	}
}
@media (max-width: 640px) {
	.wbfj-calendar-event .gform_wrapper ul.gform_fields {
		grid-column-gap: 0;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
} 
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    height: 50px;
}
.gform_wrapper .top_label li.gfield.gf_left_third div:not(.ginput_container_date) select.medium {
    height: 50px;
    border-color: #ddd;
}
.gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) select.medium {
    height: 50px;
    border-color: #ddd;
}
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
    width: 100%;
    height: 50px;
    border-color: #ddd;
}