.gform_wrapper {
	input {
		&:not([type=radio]) {
			&:not([type=checkbox]) {
				&:not([type=submit]) {
					&:not([type=button]) {
						&:not([type=image]) {
							&:not([type=file]) {
								border: 0;
								border: 1px solid #ddd;
							}
						}
					}
				}
			}
		}
	}
	.field_sublabel_below {
		.ginput_complex.ginput_container {
			label {
				color: #222;
			}
		}
	}
	.top_label {
		.gfield_label {
			color: #222;
		}
	}
	.gform_footer {
		input.button {
			border: 0;
			background: #222;
			color: #fff;
			display: inline-block;
			padding: 0 30px;
			height: 45px;
			line-height: 45px;
			font-size: 15px;
		}
		input[type=submit] {
			border: 0;
			background: #222;
			color: #fff;
			display: inline-block;
			padding: 0 30px;
			height: 45px;
			line-height: 45px;
			font-size: 15px;
		}
	}
}
.wbfj-calendar-event {
	.gform_wrapper {
		ul.gform_fields {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			li {
				input {
					width: 100%;
				}
			}
		}
		input {
			&:not([type=radio]) {
				&:not([type=checkbox]) {
					&:not([type=submit]) {
						&:not([type=button]) {
							&:not([type=image]) {
								&:not([type=file]) {
									width: 100%;
									height: 50px;
									border-color: #ddd;
									padding: 0 20px;
									color: #222;
								}
							}
						}
					}
				}
			}
		}
		select {
			width: 100%;
			height: 50px;
			border-color: #ddd;
			padding: 0 20px;
			color: #222;
		}
		.top_label {
			div.ginput_container {
				position: relative;
			}
		}
		img.ui-datepicker-trigger {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
		}
		textarea.medium {
			border-color: #ddd;
		}
		.gfield_checkbox {
			li {
				label {
					color: #222;
					font-weight: 600;
					margin-top: 5px;
					margin-left: 3px;
				}
			}
		}
	}
	.gform_wrapper.gf_browser_chrome {
		.gfield_time_ampm {
			select {
				padding: 0 6px;
				-webkit-appearance: none;
				-moz-appearance: none;
			}
		}
	}
}
@media (max-width: 640px) {
	.wbfj-calendar-event .gform_wrapper ul.gform_fields {
		grid-column-gap: 0;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}
} 
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
    height: 50px;
}
.gform_wrapper .top_label li.gfield.gf_left_third div:not(.ginput_container_date) select.medium {
    height: 50px;
    border-color: #ddd;
}
.gform_wrapper .top_label li.gfield.gf_right_half div:not(.ginput_container_date) select.medium {
    height: 50px;
    border-color: #ddd;
}
.gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield select {
    width: 100%;
    height: 50px;
    border-color: #ddd;
}
.gform_wrapper ul.gfield_checkbox li label {
    color: #222;
}
.gform_wrapper textarea.medium {
    border-color: #ddd;
}
.wp-share-button a {
    height: 30px;
    line-height: 30px;
    padding: 0 10px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
}
.wbfj-prev-next-post-box .wbfj-prev-box span {
    display: block;
    font-family: 'Oswald';
}
.wbfj-prev-box.has-next {
    text-align: right;
}
.wbfj-prev-next-post-box .wbfj-prev-box a {
    font-size: 19px;
    font-family: 'Oswald';
    color: #222;
}
.wbfj-prev-next-post-box .wbfj-prev-box a:hover {
    text-decoration: underline;
}
.wbfj-related-post-thumbnail img {
    max-height: 130px;
    object-fit: cover;
    transition: all .3s;
}
.wbfj-related-post-thumbnail {overflow: hidden;}
.wbfj-related-post-thumbnail a:hover img {
    transform: scale(1.1);
    filter: brightness(0.5);
}
h3.wbfj-related-post-title {
    width: 100%;
    float: left;
    margin-bottom: 0px;
    font-size: 17px;
    line-height: 23px;
}
.wbfj-related-post-content {display: block;margin-top: 7px;}
.wbfj-related-post-author img {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
}
.wbfj-related-post-author a {
    color: #777;
    font-family: 'Oswald';
    font-size: 11px;
}
.wbfj-related-post-date {
    display: inline-block;
    font-size: 11px;
    font-family: 'Oswald';
    color: #777;
}
.wbfj-related-post-author {
    display: inline-block;
    margin-right: 2px;
}
h4.wbfj-section-curved-title {
    font-size: 18px;
    background: #222;
    display: inline-block;
    color: #fff;
    padding: 8px 17px;
    padding-right: 30px;
    margin-bottom: 0;
    position: relative;
}
h4.wbfj-section-curved-title::after {
    position: absolute;
    content: "";
    background: #fff;
    width: 30px;
    height: 101%;
    top: -1px;
    right: -1px;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
}
.wbfj-section-title-area {
    border-bottom: 2px solid #222;
}
.mb-30 {
	margin-bottom: 30px;
}
.wbfj-blog-thumbnail img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}
h3.wbfj-blog-single-title {
    margin-bottom: 0px !important;
    padding-bottom: 5px;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 800 !important;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    display: block;
    margin-bottom: 5px !important;
}
.wbfj-related-post-meta.has-wbfj-related-meta-border {
    border-bottom: 3px solid #222;
    padding-bottom: 8px;
}
.wbfj-blog-thumbnail.wbfj-blog-thumbnail-space-bottom {
    display: block;
    margin-bottom: 10px;
}
h3.wbfj-blog-single-title {
    color: #444;
}
.abh_box.abh_box_down.abh_box_business .abh_tab_content {
    border: 1px solid #ddd;
    margin-top: 30px;
}
.abh_name.fn.name a {
    color: #444;
}

.abh_tab_content .abh_text .abh_job a {
    color: #444;
}
.pt-20 {
	padding-top: 20px;
}
@media (max-width: 767px) {
	div.abh_tab_content .abh_image {
		float: none !important;
	}
	div.abh_tab_content .abh_text {
		margin-left: 0 !important;
		margin-top: 20px;
	}
	.abh_tab_content .abh_text .abh_description ul {
		margin-left: 0 !important;
	}
	.wbfj-prev-box.has-next {
		text-align: left;
		margin-top: 10px;
	}
}
.job-info span.job-title {
    font-size: 20px;
    font-family: 'Oswald';
    color: #3b3a3c !important;
    transition: all .3s;
}

.job-info h4 a:hover span.job-title {
    color: #3297fa !important;
}
.sjb-archive-page h3 span.job-title {
    font-size: 25px;
    font-family: Oswald,sans-serif;
    color: #444 !important;
    border-bottom: 5px solid #222;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 12px;
}
.sjb-page .list-data .v1 .job-description {
    font-size: 16px;
    font-family: Open Sans !important;
}
.wbfj-read-more-btn a {
    background: #3297fa;
    color: #fff;
    display: inline-block;
    padding: 10px 17px;
    border-radius: 5px;
    margin-top: 16px;
}
.wbfj-read-more-btn a:hover {
    background: #222;
    color: #fff;
}
.list-view .accordion-item:first-of-type .accordion-button {
    background: #292A66;
    color: #fff;
    font-size: 20px;
    font-family: 'Oswald';
    text-transform: uppercase;
}

.list-view h2 {
    margin-top: 0;
}

.list-view .accordion-item:first-of-type .accordion-button::after {
    display: none;
}

.gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {
    color: #222;
}
.sjb-page .list-data .v1 {
    padding: 30px 25px;
}
.pb-100 {
	padding-bottom: 100px;
}
.mega-sub-menu .menu-blog-menu-container ul li a {
    color: #fff;
    font-family: Oswald !important;
    height: 40px;
    line-height: 40px;
    display: block;
    padding: 0px 15px;
    font-weight: 800;
    font-size: 15px !important;
    text-transform: uppercase;
    border-top: 1px solid rgba(255, 255, 255, 0.2705882353);
}

.mega-sub-menu .menu-blog-menu-container ul li {
    padding: 0;
    list-style: none;
}

.mega-sub-menu .menu-blog-menu-container ul {
    padding: 0;
}

#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
    padding: 0;
}

.mega-sub-menu .menu-blog-menu-container ul li a:hover {
    background: rgba(255,255,255,.2);
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row {
    border-top: 3px solid rgba(255,255,255,0.4);
}
.wbfj-post-image-single-img {
    background: rgba(255,255,255,.2);
    position: relative;
}
.wbfj-post-image-single-img img {
    padding: 14px;
    position: relative;
    padding-top: 0;
    transition: all .3s;
}
.wbfj-post-image-single-img:hover img {
    padding: 0;
}
.mega-sub-menu h4.popular-post-title a {
    font-family: Oswald;
    color: #fff;
    font-size: 20px;
    display: block;
}

.mega-sub-menu h4.popular-post-title {
    margin-bottom: 2px;
}

.mega-sub-menu h4.popular-post-title a:hover {
    text-decoration: underline;
    background: rgba(255,255,255,.2);
}
ul.mega-sub-menu .wbfj-post-image-single-text-meta img {
    border-radius: 50%;
    margin-right: 5px;
    margin-right: 9px;
}
ul.mega-sub-menu .wbfj-post-image-widget-wrapper span.wbfj-post-image-single-text-date {
    color: #fff;
}

ul.mega-sub-menu .wbfj-post-image-widget-wrapper span.wbfj-post-image-single-text-date i {
    margin-right: 6px;
}
ul.mega-sub-menu a.wbfj-post-image-admin-img {
    color: #fff;
}
ul.mega-sub-menu .wbfj-post-image-single-text {
    padding-top: 11px;
}

.mega-sub-menu h4.popular-post-title {
    margin-bottom: 6px;
}
#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu {
    display: flex;
    grid-gap: 20px;
}
@media (max-width: 991px) {
	
	#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu {float: none;overflow: hidden;}
	
	#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu {
		display: block;
		overflow: hidden;
	}
	
	.mega-sub-menu .menu-blog-menu-container ul li {
		background: #222;
	}
	
	#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu {
		padding: 0;
	}
	
	li.mega-menu-column.mega-menu-columns-3-of-12 .wbfj-post-image-single-img {
		width: 50%;
		float: left;
		margin-right: 20px;
	}
	
	ul.mega-sub-menu .wbfj-post-image-single-text {
		overflow: hidden;
	}
	
	#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row .mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {margin-bottom: 20px;}
	
	#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row > ul.mega-sub-menu > li.mega-menu-column {background: #222;}
	
	.wbfj-post-image-single {
		overflow: hidden;
		background: #222;
		padding: 0 18px;
		padding-top: 6px;
	}
	#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link {
		padding: 3px 8px;
		text-transform: capitalize;
		color: rgba(255,255,255,.8);
		font-weight: 600;
	}
	#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item {
		margin: 0 !important;
	}
}
@media (max-width: 767px) {
	li.mega-menu-column.mega-menu-columns-3-of-12 .wbfj-post-image-single-img {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-top: 20px;
	}
}
#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link {
    font-weight: 600;
    font-family: 'Oswald';
} 
@media (min-width: 769px) and (max-width: 991px) {
	#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu {
		display: flex;
		flex-wrap: wrap;
	}
	#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu > * {
		flex: 0 0 calc( 50% - 15px) !important;
	}
	#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-item.mega-menu-megamenu ul.mega-sub-menu ul.mega-sub-menu ul.mega-sub-menu {
		display: block;
		padding-top: 10px;
		padding-bottom: 16px;
	}
	#mega-menu-wrap-main-menu #mega-menu-main-menu li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-row > ul.mega-sub-menu > li.mega-menu-columns-3-of-12 {
		width: 50%;
	}
	ul.mega-sub-menu .wbfj-post-image-single-text {
		overflow: hidden;
	}
}
div#mega-menu-wrap-main-menu #mega-menu-main-menu > li.mega-menu-item > a.mega-menu-link:hover {
    font-weight: 600;
}
.swiper_slider .swiper-slide a {
    display: block;
}

.swiper_slider .swiper-slide a img {
    width: 100%;
}