@use "common" as *;

.cr-crossroad-title {
    font-size: 34px;
    line-height: 1.5;
    font-family: 'Oswald';
    font-weight: 300;
}
.cr-widget-title {
    border-bottom: 2px solid #222;
    margin-bottom: 25px;
}
.cr-default-sidebar-title {
    background-color: #222;
    color: #fff;
    font-size: 17px;
    height: 33px;
    line-height: 33px;
    font-weight: 800;
    letter-spacing: -0.5px;
    padding: 0px 35px 5px 9px;
    margin-bottom: 0px;
    display: inline-block;
    position: relative;
    z-index: 1;

}
.cr-default-sidebar-title:after {
    position: absolute;
    right: -1px;
    top: 0;
    height: 100%;
    width: 18px;
    content: "";
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 100% );
}

.gf_browser_gecko.gform_wrapper .gfield_label {
	font-size: 16px;
	color: #222;
	font-weight: 700;
	margin-bottom: 9px;
}
.gf_browser_gecko.gform_wrapper label {
    font-size: 13px;
    color: #222;
}

blockquote {
	line-height: 25px;
	font-size: 18px;
	color: #777;
	margin: 0 0 18px;
	padding: 0px 20px 0px 19px;
	border-left: 5px solid #cccccc;
}
blockquote a {
    color: #222;
}
blockquote a:hover {
    color: #222;
    text-decoration: underline;
}
.blog-list-wrap .swiper-wrapper {
	max-height: 400px;
}
.blog-list-wrap .swiper-slide {
	max-height: 101px;
}
.post-title-wrapper {
  position: relative;
  z-index: 1;
}
.post-slider-navigation {
  position: absolute;
  right: 0;
}
.post-slider-navigation span {
  background-color: #222;
  display: inline-block;
  padding: 0 5px;
  color: #fff;
}
.slider-image-pagination span {
    width: 11px;
    height: 11px;
    background-color: #666;
  }
  .slider-image-pagination.swiper-pagination-bullets {
    text-align: center;
  }
  #swiper_slider {
    position: relative;
    z-index: 1;
  }
  .slider-image-navigation span {
    position: absolute;
    left: -10px;
    top: 50%;
    transition: 0.3s;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 35px;
    font-weight: 900;
    opacity: 0;
    visibility: hidden;
  }
  .slider-image-navigation span.image-next {
    left: auto;
    right: -10px;
  }
  #swiper_slider:hover .slider-image-navigation span {
    left: 20px;
    opacity: 1;
    visibility: visible;
  }
  #swiper_slider:hover .slider-image-navigation span.image-next {
    right: 20px;
    left: auto;
  }
  .mc4wp-form-fields label {
    font-size: 16px;
    font-weight: 700;
    display: block;
    color: #222;
    margin-bottom: 9px;
}
.mc4wp-form-fields input[type="email"] {
  width: 100%;
  padding: 5px 15px;
}
.cr-miles-title {
  font-size: 28px;
  font-weight: 600;
  color: #000;
  line-height: 40px;
  margin-bottom: 10px;
}
.cr-miles-content-img {
  flex: 0 0 130px;
  margin-left: 20px;
  max-width: 130px;
}
.cr-miles-content-wrapper a {
  font-size: 16px;
  color: #222;
  font-weight: 300;
  font-family: 'Oswald';
}
.cr-miles-semi-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 8px;
}
.cr-miles-content-wrapper {
  display: flex;
}